# Telegram
BOT_TOKEN = '1981913038...'

# Provider
# INFURA_API_KEY = 'https://mainnet.infura.io/v3/ab96b536fe83489f8599d9e2cab6d9ce'
INFURA_API_KEY="https://bsc-dataseed1.binance.org/"

# Wallet
PRIVATE_KEY = ''
PUBLIC_KEY = ''

PRICE_CHECK_INTERVAL_IN_SECONDS = '10'

# Trading Preference
ETH_IN_AMOUNT = '0.001'

# NETWORKS SUPPORTED; 1 eth, 56 is bsc, 137 polygon, 10 optimism, 42161 arbitrum
NETWORK_ID = '56'

# Database
DB_URL = 'mongodb+srv://dennoh:PDNSk1niA90AQNkl@cluster0.drqlx.mongodb.net/multidexarbbot?authSource=admin&replicaSet=atlas-nskznp-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true'

# Explorer to view Txs
EXPLORER = 'https://bscscan.com/tx'
